@{
    ViewBag.Title = "Hem";
}

<div style="padding: 20px">
    
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div ng-controller="datepickercontroller">
                    <div style="display:inline-block;">
                        <datepicker id="datepicker" ng-model="date.selectedDate" show-weeks="true" starting-day="1" class="well well-sm"></datepicker>
                    </div>
                    <div>
                        <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                        <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            @Html.Partial("../Report/_DayReport")
        </div>
    </div>
    <div class="row">
            @Html.Partial("../Report/_Stats")
    </div>
</div>
