<div ng-controller="dayreportcontroller">
    <div class="row" style="margin-bottom: 20px;">
        <h4>{{displayDate}}</h4>
    </div>
    <div ng-hide="isVacation">
        <div class="row">
            <div id="semicirclepie" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>
        <div class="row">
            <div class="col-lg-3" style="text-align: center">
                <label>Började</label>
                <div style="display: table">
                    <timepicker readonly-input="isVacation" ng-model="starttime" ng-change="changed()" ng-class="{'has-error' : starttime >= lunchstarttime}" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                    <div style="display: table-cell; vertical-align: middle; padding-left: 5px">
                        <button ng-disabled="isVacation" type="button" class="btn btn-sm btn-info" ng-click="setStartTimeNow()">Nu</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="text-align: center">
                <label>Lunch började</label>
                <div style="display: table">
                    <timepicker readonly-input="isVacation" ng-model="lunchstarttime" ng-change="changed()" ng-disabled="isVacation" ng-class="{'has-error' : lunchstarttime >= lunchendtime}" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                    <div style="display: table-cell; vertical-align: middle; padding-left: 5px">
                        <button ng-disabled="isVacation" type="button" class="btn btn-sm btn-info" ng-click="setLunchStartTimeNow()">Nu</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="text-align: center">
                <label>Lunch slutade</label>
                <div style="display: table">
                    <timepicker readonly-input="isVacation" ng-model="lunchendtime" ng-change="changed()" ng-class="{'has-error' : lunchendtime >= endtime}" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                    <div style="display: table-cell; vertical-align: middle; padding-left: 5px">
                        <button ng-disabled="isVacation" type="button" class="btn btn-sm btn-info" ng-click="setLunchEndTimeNow()">Nu</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="text-align: center">
                <label>Slutade</label>
                <div style="display: table">
                    <timepicker ng-model="endtime" ng-class="{'has-error' : endtime < lunchendtime}" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                    <div style="display: table-cell; vertical-align: middle; padding-left: 5px">
                        <button ng-disabled="isVacation" type="button" class="btn btn-sm btn-info" ng-click="setEndTimeNow()">Nu</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label>Total tid: {{totaltime}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label>Dagens flex: {{flex}}</label>
            </div>
        </div>
    </div>
    <div ng-hide="!isVacation">
        <h3>SEMESTER!!!</h3>
    </div>
    <div class="row">
        <div class="col-lg-12" style="text-align: right">
            <button type="button" class="btn btn-sm btn-success" ng-click="vacation()">Semester</button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="reset()">Återställ</button>
            <button type="button" class="btn btn-sm btn-danger" ng-click="remove()">Ta bort</button>
        </div>
    </div>
</div>
